body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #000000, #1a1a1a);
    margin: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #000000;
    color: #ffffff;
    border-right: 2px solid #d4af37;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1a1a1a;
    border-bottom: 2px solid #d4af37;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 2px solid #d4af37;
}

#sidebar ul li {
    padding: 10px;
    text-align: center;
}

#sidebar ul li a {
    color: #d4af37;
    text-decoration: none;
    display: block;
}

#sidebar ul li a:hover {
    background: #d4af37;
    color: #000000;
}

#content {
    flex: 1;
    padding: 20px;
    background: #1a1a1a;
    overflow-y: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    padding: 10px 20px;
    border-bottom: 2px solid #d4af37;
}

.navbar-brand {
    color: #d4af37;
    font-size: 24px;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-nav li {
    margin-left: 20px;
}

.navbar-nav li a {
    color: #d4af37;
    text-decoration: none;
}

.navbar-nav li a:hover {
    color: #ffffff;
}

h2 {
    color: #9b9787;
    text-align: center;
}

.profile-container {
    width: 479px;
    padding: 20px;
    background: #000000;
    border: 2px solid #d4af37;
    border-radius: 36px;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: 2px solid #d4af37;
    margin-bottom: 20px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.profile-detail {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 10px;
}

.profile-detail label {
    font-weight: bold;
    color: #d4af37;
}

.profile-detail p {
    margin: 0;
    color: #ffffff;
}

.upload-form {
    margin-top: 10px;
}

.upload-form label {
    color: #d4af37;
    margin-bottom: 10px;
    display: block;
}

.upload-form input[type="file"] {
    margin-bottom: 10px;
}

.upload-form input[type="submit"] {
    background-color: #d4af37;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-form input[type="submit"]:hover {
    background-color: #b8860b;
}
