<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>LandLord Dashboard</h3>
            </div>
            <ul class="list-unstyled components">
                <li><a href="{{ url_for('dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                <li><a href="{{ url_for('model_analysis') }}"><i class="fas fa-chart-line"></i> Model Classification</a></li>
                <li><a href="{{ url_for('analysis') }}"><i class="fas fa-chart-pie"></i> Analysis</a></li>
                <li><a href="{{ url_for('tenant') }}"><i class="fas fa-users"></i> Tenant</a></li>
                <li><a href="{{ url_for('property_details') }}"><i class="fas fa-building"></i> Property Details</a></li>
                <li><a href="{{ url_for('profile') }}"><i class="fas fa-user"></i> Profile</a></li>
                <li><a href="#"><i class="fas fa-envelope me-2"></i> View Request</a></li>
            </ul>
        </nav>

        <div id="content">
            <div class="navbar">
                <div class="navbar-brand">LandLord</div>
                <ul class="navbar-nav">
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>
            <br>
            <h2>Tenant Analysis</h2>
            <p>Here you can view the analysis of tenant data.</p>

            <div class="plot-container">
                <h3><i class="fas fa-users"></i> Total Count of Tenants</h3>
                {{ count_plot | safe }}
            </div>
            
            <div class="plot-container">
                <h3><i class="fas fa-credit-card"></i> Credit Score Distribution</h3>
                {{ credit_score_plot | safe }}
            </div>
            
            <div class="plot-container">
                <h3><i class="fas fa-dollar-sign"></i> Income Distribution</h3>
                {{ income_plot | safe }}
            </div>
            
            <div class="plot-container">
                <h3><i class="fas fa-venus-mars"></i> Gender Distribution</h3>
                {{ gender_plot | safe }}
            </div>
            
            <div class="plot-container">
                <h3><i class="fas fa-chart-bar"></i> Age Distribution</h3>
                {{ age_plot | safe }}
            </div>
            
        </div>
    </div>
</body>
</html>
